<!DOCTYPE html>
<html>
  <head>
    <title>Tsundoku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- jQuery、jQuery UIの読み込み -->
   <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
     <%# <script src = " https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js " > </script> %>

     


  </head>

  <body>
    <%= render'partial/header' if current_user %>

    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
     <div class="alert alert-danger">
       <%= flash[:alert] %>
     </div>
     <% end %>

    <%= yield %>
 
  </body>

 <!-- Sortableの実装 -->
    <script>
   $(function() {
    $('div.card').each(function(i){
    $(this).attr('id','card' + (i+1));
    });
    $(".cardWrapper").sortable();
    $(".cardWrapper").disableSelection();
    $(".cardWrapper").sortable({
        update: function(ev, ui) {
            var updateArray =  $(".cardWrapper").sortable("toArray").join(",");
            $.cookie("sortable", updateArray, {expires: 30});    
        }        
    });
    if($.cookie("sortable")) {
        var cookieValue = $.cookie("sortable").split(",").reverse();
         $.each(
            cookieValue,
            function(index, value) {$('#'+value).prependTo(".cardWrapper");}
           );
         } 
      });
 </script>
  
  <script>
   $(function() {
    $('div.list').each(function(i){
    $(this).attr('id','list' + (i+1));
    });
    $(".listWrapper").sortable();
    $(".listWrapper").disableSelection();
    $(".listWrapper").sortable({
        update: function(ev, ui) {
            var updateArray =  $(".listWrapper").sortable("toArray").join(",");
            $.cookie("sortable", updateArray, {expires: 30});    
        }        
    });
    if($.cookie("sortable")) {
        var cookieValue = $.cookie("sortable").split(",").reverse();
         $.each(
            cookieValue,
            function(index, value) {$('#'+value).prependTo(".listWrapper");}
           );
         } 
      });
 </script>
 
 <%# <script>
    $(function() {
    $(".cardWrapper").sortable();
    $(".cardWrapper").disableSelection();
    // $(".cardWrapper").sortable();
      });
     </script> %>



</html>
 