<!DOCTYPE html>
<html>
  <head>
    <title>Tsundoku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- jQuery、jQuery UIの読み込み -->
   <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

  </head>

  <body>
    <%= render'partial/header' if current_user %>

    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
     <div class="alert alert-danger">
       <%= flash[:alert] %>
     </div>
     <% end %>

    <%= yield %>

  </body>

</html>
 
 <!-- Sortableの実装 -->
   <%# listのsortable %>
   <script>
   $(function() {
    $('div.list').each(function(i){
    $(this).attr('id','list' + (i+1));
    });
    $(".listWrapper").sortable({
        update: function(ev, ui) {
            var updateArray1 =  $(".listWrapper").sortable("toArray");
            console.log(updateArray1);
            $.cookie("sortable1", updateArray1, {expires: 1});    
        }       
    });
    if($.cookie("sortable1")) {
        var cookieValue = $.cookie("sortable1").split(",").reverse();
         $.each(
            cookieValue,
            function(index, value) {$('#'+value).prependTo(".listWrapper");}
           );
         } 
      });

    // // cardのsortable(未完成の為コメントアウトしています)
    // $(function() {
    // $('div.card').each(function(i){
    // $(this).attr('id','card' + (i+1));
    // });
    // $(".cardWrapper").sortable({
    //     update: function(ev, ui) {
    //         var updateArray2 =  $(".cardWrapper").sortable("toArray");
    //         console.log(updateArray2);
    //         $.cookie("sortable2", updateArray2, {expires: 1});
    //         allCookies = document.cookie;
    //         console.log(allCookies)
    //           }                 
    // });
    // if($.cookie("sortable2")){
    //      var cookieValue = $.cookie("sortable2").split(",").reverse();
    //      allCookies = document.cookie;
    //         console.log(allCookies)
    //      $.each(
    //          cookieValue,
    //           function(index, value) {$('#'+value).prependTo(".cardWrapper");}
    //          );
    //        } 
    //      });

   
</script> 

  